% rebase("osnova.html", naslov="Predstavitev Vizualizacij")

<div class="row">
    <div class="col-md-12">
        <h3>Tu bodo predstavljene vizualizacije!</h3>
        <p>Po koncu razvijanja grafov pa bo uporabnik z vlogo *novinec* lahko videl samo par grafov, 
            uporabnik z vlogo *entuziast* bo videl več grafov, uporabnik z vlogo *ekspert* pa bo jih bo videl največ.
        </p>
    </div>
    <!-- <br>
  <iframe id="igraph" scrolling="no" style="border:none;" 
  seamless="seamless" src="/Users/valgroleger/Svetovna-prvenstva-v-nogometu/views/graphs/red_cards.html"
  height="500" width="100%"></iframe>
    <br> -->
    <div id="plot">
        <!-- Paste the plotly_html string representation here -->
        {{ plotly1 }}
    </div>
    
</div>

